#autor{
    margin-left: 40%;
    margin-top: 10%;
}

#datosxAgregar{
    width: 50%;
    margin-left: 20%;
}

#datosTabla{
    width: 50%;
    margin-left: 4.5%;
}

#tablaClases{
    width: 70%;
    margin-left: 2.5%;
}

#btncentrar{
    margin-left: 35%;
}

#cartasVict{
    width: 50%;
    height: 35%;
}

body{
    background-color: rgb(212, 106, 106);
}