<% include header %>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Clase</th>
      <th scope="col">Descripción</th>
      <th scope="col">Imágen</th>
    </tr>
  </thead>
  <tbody>
    <tr class="bg-primary">
      <th scope="row">Zombie tímido</th>
      <td>Tipo de zombie difícil de ver, se cohibe con facilidad</td>
      <td><img src="/pup.png"></td>
    </tr>
    <tr="bg-warning">
      <th scope="row">Zombie asustadizo</th>
      <td>Zombie altamente asustadizo, vive de manera hermitaña</td>
      <td><img src="/wow.png"></td>
    </tr>
    <tr="bg-danger">
      <th scope="row">Zombie agresivo</th>
      <td>Altamente peligroso, no te dejes engañar por su apariencia</td>
      <td><img src="/cinnamoroll.jpg"></td>
    </tr>
  </tbody>
</table>
<% include footer %>