<!DOCTYPE  html>
<html>
<head>
    <meta charset="utf-8">
    <title>Aplicación para supervivencia</title>
        <link rel="stylesheet"
        href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
    <body>
    <header>
        <nav class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.ejs">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="zombies.ejs">Zombies<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="clases.ejs">Clases<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="armas.ejs">Armas<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="victimas.ejs">Víctimas<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </nav>
    </header>


