<% include header %>
<br>
<div id="indexinfo">
<h1 text-align="center">Bienvenido</h1>
<p>Esta es una guía de supervivencia, aquí podrás encontrar las clases de zombies, armas y víctimas probables.</p>
</div>
<br>
<% include footer %>