<% include header %>
<div id="datosxAgregar">
<h2>Introduce una nueva víctima</h2>
<form method="post" role="form">
    <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Escribe su nombre" required/>
    </div>
    <div class="form-group">
        <label for="address">Dirección</label>
        <input type="text" class="form-control" id="address" name="address" placeholder="Escribe su dirección" required>
    </div>
    <div class="form-group">
        <label for="phone">Teléfono</label>
        <input type="text" class="form-control" id="phone" name="phone" placeholder="Escribe su teléfono" required>
    </div>
    <div class="form-group">
        <label for="instagram">Instragram</label>
        <input type="text" class="form-control" id="instagram" name="instagram" placeholder="Escribe su instagram" required>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Agregar"/>
    </div>
</div>
</form>
<% include footer %>